ANTHROPIC_API_KEY=
CLICKHOUSE_URL=https://<id>.<region>.<csp>.clickhouse.cloud:8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
SENSO_API_KEY=tgr_live_
SENSO_GEO_QUESTION_ID=
COMPOSIO_API_KEY=
COMPOSIO_NOTION_USER_ID=gearit_demo
NOTION_PARENT_PAGE_ID=
PERPLEXITY_API_KEY=
